*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero p {
  margin-bottom: 3em;
}

.hero__text {
  width: 60%;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}
